# 火山引擎API密钥（必填）
# 获取地址：https://console.volcengine.com/ark/region:ark+cn-beijing/apiKey
VOLCANO_API_KEY=your_api_key_here

# 文生图API配置
VITE_TEXT_TO_IMAGE_BASE_URL=/api/volcano/api/v3/images/generations
VITE_TEXT_TO_IMAGE_MODEL=doubao-seedream-4-0-250828

# 图生文API配置
VITE_IMAGE_TO_TEXT_BASE_URL=/api/volcano/api/v3/chat/completions
VITE_IMAGE_TO_TEXT_MODEL=doubao-seed-1-6
